---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import LogoMarquee from '../components/LogoMarquee.astro'
import BentoGrid from '../components/BentoGrid.astro'
import Pricing from '../components/Pricing.astro'
import FinalCTA from '../components/FinalCTA.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <main class="min-h-screen bg-background text-foreground">
    <Navbar />
    <Hero />
    <LogoMarquee />
    <BentoGrid />
    <Pricing />
    <FinalCTA />
    <Footer />
  </main>
</Layout>
